.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 6rem 7rem;

}

.vagas__titulo {
    font-size: 14px;
    font-weight: 500;
    color: var(--cor-texto-destaque);
    padding: 0.6rem;
    margin: auto;
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    
}

.vagas__subtitulo {
    font-size: 36px;
    font-weight: 600;
    margin: 1.5rem 0;
}

.vagas__descricao {
    font-size: 20px;
    line-height: 150%;
    color: var(--cor-texto);
    margin-bottom: 4rem;
}

.vagas__img {
    width: 85vw;        
}

@media screen and (max-width:428px) {

    .vagas {
        padding: 2rem;
    }

    .vagas__subtitulo {
        font-size: 30px;
    }

    .vagas__img {
        width: 80vw;        
    }
}
    
